@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar .menu li .active {
  color: white; /* Example: yellow color for active link */
  font-weight: bold;
  background-color: #f59e0b;
}

.dashboard-menu.menu li .active {
  color: white;
  background-color: #d1a054;
}
